# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
*.egg-info/
.eggs/
dist/
build/

# Airflow
logs/
airflow_home/
*.log
*.pid
*.db
*.db-shm
*.db-wal

# Docker
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temporales
*.tmp
*.bak
*.backup
